body {
    margin-left: 200 ;
    font-family: 'Source Sans Pro', sans-serif;
   
}
img { max-width: 100%; }
h2 { font-size: 1.6rem; }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color:red;
    margin-bottom: 10px;}

.wrapper { padding: 0 1rem }
.news{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 2rem;
}

.card{
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color: #fff;
    padding: 20px;

}
.card:hover{
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

.news-single {
    background-color: #fff;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }